$base-text-color: #666;
$base-background-color: #fff;
$base-link-color: #666;
$base-form-text-color: #666;
$base-form-placeholder-color: #666;
$base-input-border-color: #e6e6e6;

$base-font-size: 18px;
$base-line-height: 1.56; 
$base-font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif;
$base-font-family: 'Open Sans', Arial, Helvetica, sans-serif;

$base-min-width: 320px;

// breakpoints
$desktop:1200px;
$mobile: 767px;
$tablet: 1023px;
$retina: 1.5;  // mobile retina
$retina-hd: 2.5;

// fonts
$icomoon-font: 'Icomoon';
$helvetica-light-font:'HelveticaNeue-Light', Arial, Helvetica, sans-serif;
$helvetica-medium-font:'HelveticaNeue-Medium', Arial, Helvetica, sans-serif;
$helvetica-bold-font:'HelveticaNeue-Bold', Arial, Helvetica, sans-serif;
$play-font: 'Playfair Display', serif;

// colors
$blue-color:#40b4e5;
$dark-blue:#0a4160;