<nav class="nav">
<!--   <ul id="nav">
    <li>
      <a ui-sref=".forberedelsen" ui-sref-active="active" >
              <span class="ico-holder" >
                <img class="main-img" src="images/ico-01.png" height="47" width="34" alt="image description" >
                <img class="hover-img" src="images/ico-01-hover.png" height="47" width="34" alt="image description" >
              </span >
          Forberedelsen
      </a>
    </li>
    <li>
      <a ui-sref=".samtalen" ui-sref-active="active">
              <span class="ico-holder" >
                <img class="main-img" src="images/ico-02.png" height="44" width="50" alt="image description">
                <img class="hover-img" src="images/ico-02-hover.png" alt="image description" width="50" height="44">
              </span>
        F.A.Q.
      </a>
    </li>
    <li>
      <a ui-sref=".indsatsen" ui-sref-active="active">
              <span class="ico-holder">
                <img class="main-img" src="images/ico-06.png" height="40" width="50" alt="image description">
                <img class="hover-img" src="images/ico-06-hover.png" alt="image description" width="50" height="40">
              </span>
        Min side
      </a>
    </li>
    <li ng-if="vm.type == 'Leder'">
      <a ui-sref=".medarbejdere" ui-sref-active="active">
              <span class="ico-holder">
                <img class="main-img" src="images/ico-04.png" height="33" width="45" alt="image description">
                <img class="hover-img" src="images/ico-04-hover.png" alt="image description" width="45" height="33">
              </span>
        Medarbejdere
      </a>
    </li>
  </ul> -->
</nav>
